body {
	background: #333;
	font-family: 'Lato';
	font-size: 10px;
}
header {
	background: #fff;
}
.navbar-brand .glyphicon {
	font-size: 30px;
}
.navbar-toggle {
	background: #ededed;
}
.navbar-toggle .icon-bar {
	background: #333;
}